<ion-header [translucent]="true">
  <ion-toolbar>
    <app-shared-header [showBackButton]="true"></app-shared-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="bookmark">
  <h2>{{ bookmark.name }}</h2>
  <p>{{ bookmark.description }}</p>

  <ion-chip *ngFor="let tag of bookmark.tags">
    <ion-label>{{ tag }}</ion-label>
  </ion-chip>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="goToEditBookmark()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>